@import 'src/styles/mixins';

.wrapper {
  width: fit-content;
  padding: 20px;
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--gray);
  transition: .3s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    border: 1px solid var(--primary);
    border-radius: 25px;
  }

  .text {
    padding: 0;
    max-width: 200px;
    margin-bottom: 10px;
  }

  .imgWrapper {
    width: 230px;
    border-radius: 25px;
    margin-bottom: 15px;
    overflow: hidden;

    :global(img) {
      width: 100%;
      height: auto;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
}