@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
};

@mixin randomBgr {
  background: rgb(random(100), random(100), random(100));
}

  @mixin fadeIn {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}